body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
}

/* top navbar */
.nav-top {
  grid-area: nav;
  background-color: #D97D5B;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 10px;
  box-shadow: .5px 1px .5px black, .2px .2px 10px .75px black;
  list-style-type: none;
  z-index: 999;
}

.top-one {
  object-fit: contain;
  margin-right: auto;
}

.nav-top-link {
    float: left;
}

.nav-top-link > a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #2C3740;
  font-size: 1.5rem;
}

.nav-top-link > a:hover {
  color: #F2C48D;
}

.nav-top-link:last-child {
  border-right: none;
}

/* bottom navbar */
.nav-bottom {
  background-color: #D97D5B;
  list-style-type: none;
  position:fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  height: 5rem;
  box-shadow: .5px 1px .5px black, .2px .2px 10px .75px black;
  z-index: 999;
}

.nav-bottom-link {

}

.nav-bottom-link > a {
  padding: .75rem;
  background-color: #595140;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.nav-bottom-link > a:hover {
  background-color: #F2C48D;
}

.bottom-i:hover{
  color:#595140;
}

.nav-bottom-link:last-child {
  border-right: none;
}

.bottom-i {
  color: #F2C48D;
}

/* post container */
.container {
  overflow: hidden;
  margin-top: 6rem;
}

.page-item {
  margin: 1rem 0 12vmax;
  background-color: #595140;
  border-radius: 5px;
}


/* login css */
.login-container {
  background-color: #D97D5B;
  display: flex;
  justify-content: center;
  margin: 5rem 3rem;
  padding: 1rem 2rem;
}

.login-form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;

}

.user-brewery-posts-container {
    overflow: hidden;
    margin-top: 6rem;
}

.read-post-btn {
  background-color: #595140;
  color: #F2C48D;
  border-radius: 3px;
  margin: 0 6px 6px 0;
  text-decoration: none;
  padding: .25rem;
  border: 1px solid #2C3740;
}

.read-post-btn:hover {
  background-color: #F2C48D;
  color: #595140;
  /* border: ridge 1px #595140; */
  border-radius: 3px;
}

.btn-read-post-container {
  display: flex;
  justify-content: space-between;
}


