.nav-bottom {
  background-color: #A6654E;
  list-style-type: none;
  position:fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  height: 5rem;
  box-shadow: .5px 1px .5px black, .2px .2px 10px .75px black;
  z-index: 999;
}

.nav-bottom-link {

}

.nav-bottom-link > a {
  
  padding: 10px 10px;
  background-color: #595140;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.nav-bottom-link > a:hover {
  background-color: #F2C48D;
  
}

.bottom-i:hover{
  color:#595140;
}

.nav-bottom-link:last-child {
  border-right: none;
}

.bottom-i {
  color: #F2C48D;
}

.nav-top {
  grid-area: nav;
  background-color: #D97D5B;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 10px;
  box-shadow: .5px 1px .5px black, .2px .2px 10px .75px black;
  list-style-type: none;
  z-index: 999;
}

.top-one {
  object-fit: contain;
  margin-right: auto;
}

.nav-top-link {
    float: left;
}

.nav-top-link > a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #2C3740;
  font-size: 1.5rem;
}

.nav-top-link > a:hover {
  color: #F2C48D;
}

.nav-top-link:last-child {
  border-right: none;
}

.container {
  overflow: hidden;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

/* login css */

/* .container {
  margin: 20px;
} */