body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-color: #728888 !important ;
}

/* top navbar */
.nav-top {
  grid-area: nav;
  background-color: rgb(57,52,44);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 10px;
  box-shadow: .5px 1px .5px black, .2px .2px 10px .75px black;
  list-style-type: none;
  z-index: 999;
  border-bottom: 1px solid white;
}

@keyframes myslide {
  from {
    transform: translateX(-1000%);
  }
  40% {
    transform: translateX(10%);
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }

  44% {
    transform:
      rotate(15deg) translateY(0%);
    opacity: 1;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  } 
}



.top-one {
  object-fit: contain;
  margin-right: auto;
  animation: myslide 2000ms;
  
}


.nav-top-link {
    float: left;
}

.nav-top-link > a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #92b0b0;
  font-size: 1.5rem;
  font-family: 'Righteous', sans-serif;
}

.nav-top-link > a:hover {
  color: #7b5824;
}

.nav-top-link:last-child {
  border-right: none;
}

/* bottom navbar */
.nav-bottom {
  background-color: rgb(57,52,44);
  list-style-type: none;
  position:fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  height: 5rem;
  box-shadow: .5px 1px .5px black, .2px .2px 10px .75px black;
  z-index: 999;
  border-top: 1px solid white;
}

.nav-bottom-link {

}

.nav-bottom-link > a {
  padding: .75rem;
  width: 2rem;
  /* border-radius: 50%; */
  font-size: 2.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.bottom-i:hover{
  color:#7b5824;
}

.nav-bottom-link:last-child {
  border-right: none;
}

.bottom-i {
  color: #92b0b0 ;
  width: 3rem;
  display: flex;
  align-items: center;
}

/* post container */
.container {
  overflow: hidden;
  margin-top: 6rem;
}

.page-item {
  margin: 1rem 0 12vmax;
  background-color: #595140;
  border-radius: 5px;
}

.read-post-btn {
  background-color: rgb(57,52,44);
  color: #92b0b0;
  text-shadow:  2px 2px 0px #2C3740;
  border-radius: 3px;
  margin: 0 6px 6px 0;
  text-decoration: none;
  padding: .25rem;
  border: 1px solid #2C3740;
}

.read-post-btn:hover {
  background-color: #7b5824;
  color: white;
  text-shadow: none;
  /* border: ridge 1px #595140; */
  border-radius: 3px;
}

.btn-read-post-container {
  display: flex;
  justify-content: space-between;
}

.pagination {
  background-color: #728888;
}

.page-link {
  background-color: #22211e !important;
  color: #92b0b0 !important;
  text-shadow:  2px 2px 0px #2C3740;
}

.page-link:hover {
  background-color: #7b5824 !important;
}

.register-container {
  margin-top: 5rem;
}

/* all posts/index template */
.all-post-container{
  margin-top: 3rem;
}

.index-title-container {
  background-color: #7b5824;
  color: #fefdfc;
  text-shadow:  2px 2px 0px #2C3740;
  font-size: 7vmin;
  font-weight: 700;
  font-family: 'Righteous', sans-serif;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  border-radius: 3px;
  box-shadow: .5px 1px .5px grey, .2px .2px 10px .75px grey;
}

.index-post-container {
  margin: .75rem 1.5rem 0;
  box-shadow: .5px 1px .5px grey, .2px .2px 10px .75px grey;
  background-color: rgba(57,52,44, .75) !important;
  font-family: 'Fjalla One', sans-serif;
  border-radius: 3px;
}

.index-post-container > h2 {
  background-color: #7b5824;
  display: flex;
  justify-content: center;
}

.post-user-name > a {
  color: white;
  text-decoration: underline;
}

.post-user-name > a:hover {
  color: #92b0b0;
  text-decoration: none;
}

.index-post-container > h4 {
  background-color: rgba(57,52,44, 0);
}

.post-beer-name > a {
  text-decoration: underline;
  margin: .15rem 0 0 .75rem;
  color: #92b0b0;
  font-size: 1.2rem;
}

.post-beer-name > a:hover {
  text-decoration: none;
  color: white;
}

.index-post-container > p {
  background-color: rgba(57,52,44, 0);
}

.index-post-btn {
  display: flex;
  justify-content: space-between;
}

.post-published-date {
  background-color: rgba(57,52,44, 0);
  color: #92b0b0;
  font-size: .75rem;
  padding-top: 1.2rem;
  margin: 0 0 0 .25rem;
}




