body {
  height: 100vh;
  background-color: #F2D680;
  background-repeat: no-repeat;
  background-position:center;
}

.profile-brewery-posts-container {
  margin-top: 52px;
  background-color: #F2D680;
}

.user-profile-welcome {
  text-shadow:  2px 2px 0px #2C3740;
  background-color: #A66D03;
  color: #F2DFA7;
  height: 12vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: .5px 1px .5px grey, .2px .2px 10px .75px grey;
  margin: 0 3rem 1rem;
  border-radius: 3px;
}

.user-profile-welcome > h1 {
  font-size: 7vmin;
  font-weight: 700;
  font-family: 'Righteous', sans-serif;
  padding-top: 1rem;
}

.profile-post-container {
  margin: 2vmin .5rem 0;
  margin-top: 2vmin;
  box-shadow: .5px 1px .5px grey, .2px .2px 10px .75px grey;
  background-color: #F2DFA7;
  font-family: 'Fjalla One', sans-serif;
  border-radius: 3px;
}

.profile-beername {
  text-shadow:  2px 2px 0px #2C3740;
  background-color: #A66D03;
  color: #F2DFA7;
  height: 12vmin;
  display: flex;
  align-items: center;
  padding-left: .5rem;
  border-radius: 3px 3px 0 0;
}

.profile-post-container > .post-comment{
  text-decoration: underline;
  margin: 0 0 0 .5rem;
  color: #595140;
  font-size: 1.2rem;
}

.profile-post-container > .post-text{
  margin: .15rem 0 0 .75rem;
  color: #595140;
  font-size: .8rem;
}

.profile-post-date {
  color: #595140;
  opacity: 50%;
  font-size: .75rem;
  padding-top: 1.2rem;
  margin: 0 0 0 .25rem;
}
