{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ post.title }}</h1>
  <h2>{{post.author.username}}</h2>
  <p>{{post.text}}</p>
  <h6>Published: {{ post.date.strftime('%B %d, %Y') }}</h6>
  {% if post.author == current_user %}
    <div>
      <a class="btn btn-secondary" href="{{ url_for('brewery_posts.update', brewery_post_id=post.id) }}">Update</a>
      <br>
      <form action="{{ url_for('brewery_posts.delete_post', brewery_post_id=post.id) }}" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    </div>
  {% endif %}
</div>
{% endblock content %}